a {
    color: black;
    text-decoration: none;
}

a:hover 
{
     color: black; 
     text-decoration:none; 
     cursor:pointer;  
}

.fa {
    font-size: 2.4rem;
}

.home-route {
    margin-left:4rem;
}

.fa-trophy {
    margin-right: 4rem;
}

.bottom-nav {
    border-top: 1px solid #DBDBD9;
}