a {
    color: white;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.fa {
    font-size: 2.4rem;
}

.home-route {
    margin-left:4rem;
}

.fa-trophy {
    margin-right: 4rem;
}