a {
    color: #4A89DC;
    text-decoration: none;
}

a:hover 
{
     color:#007BFF; 
     text-decoration:none; 
     cursor:pointer;  
}

.fa {
    font-size: 2.4rem;
}

.home-route {
    margin-left:4rem;
}

.fa-trophy {
    margin-right: 4rem;
}

.bottom-navbar {
    border-top: 1px #4A89DC solid;
}